<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Sandbox</title>

		<link rel="stylesheet" href="vnd/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="vnd/bootstrap/dist/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="css/main.css">
	</head>

	<body ng-app="sanbox">
		<div class="container">

			<div class="blog-header">
				<h1 class="blog-title">Sandbox</h1>
				<p class="lead blog-description">A good place to test the code</p>
			</div>

			<div class="row">
				<div class="col-sm-8 blog-main">
					<div ng-controller="CtrlA"><button ng-click="inc()">Test A</button></div>
					<div ng-controller="CtrlB"><button ng-click="inc()">Test B</button></div>
				</div>
			</div>
		</div>


		<script src="vnd/jquery/dist/jquery.min.js"></script>
		<script src="vnd/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="vnd/angular/angular.js"></script>
		<script>
		
		var module = angular.module('sanbox', []);
		module.controller('CtrlA', function($scope, Counter) {
			$scope.inc = function() {
				Counter.inc();
			};
		});

		module.controller('CtrlB', function($scope, Counter) {
			$scope.inc = function() {
				Counter.inc();
			};
		});

		module.service('Counter', function() {
			console.log('called');
			this.cnt = 0;
			this.inc = function() {
				console.log('cnt is', ++this.cnt);
			}
		});

		</script>
	</body>
</html>